/.guard-exclude-script
/.guard-include-script
/.guard-exclude-mirror
/.guard-include-mirror
/.guard-exclude-tree
/.guard-exclude-barclamp

/config/barclamps.local.yml

mkcloud.config
mkcloud.steps.log
.artifacts

*.lock
*.lck
*~
.#*
*.swp
*.swo
.swp
.swo
