/.guard-exclude-script
/.guard-include-script
/.guard-exclude-mirror
/.guard-include-mirror
/.guard-exclude-tree
/.guard-exclude-barclamp

*.lock
*.lck
/crowbar*.iso
/crowbar*.tar.gz
build-info
sha1sums
.idea
.rvmrc
/testing/
*~
.#*
/extra
/change-image
/.ci-tracking
/.releases
/barclamps/*/
*.swp
*.swo
.swp
.swo
.chef/webui.pem
.chef/knife.rb
