[submodule "barclamps/crowbar"]
	path = barclamps/crowbar
	url = http://github.com/dellcloudedge/barclamp-crowbar.git
[submodule "barclamps/deployer"]
	path = barclamps/deployer
	url = http://github.com/dellcloudedge/barclamp-deployer.git
[submodule "barclamps/dns"]
	path = barclamps/dns
	url = http://github.com/dellcloudedge/barclamp-dns.git
[submodule "barclamps/ganglia"]
	path = barclamps/ganglia
	url = http://github.com/dellcloudedge/barclamp-ganglia.git
[submodule "barclamps/ipmi"]
	path = barclamps/ipmi
	url = http://github.com/dellcloudedge/barclamp-ipmi.git
[submodule "barclamps/logging"]
	path = barclamps/logging
	url = http://github.com/dellcloudedge/barclamp-logging.git
[submodule "barclamps/nagios"]
	path = barclamps/nagios
	url = http://github.com/dellcloudedge/barclamp-nagios.git
[submodule "barclamps/network"]
	path = barclamps/network
	url = http://github.com/dellcloudedge/barclamp-network.git
[submodule "barclamps/ntp"]
	path = barclamps/ntp
	url = http://github.com/dellcloudedge/barclamp-ntp.git
[submodule "barclamps/provisioner"]
	path = barclamps/provisioner
	url = http://github.com/dellcloudedge/barclamp-provisioner.git
[submodule "barclamps/test"]
	path = barclamps/test
	url = http://github.com/dellcloudedge/barclamp-test.git
