[project]
	description = Cloud Operations Platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Boerger (tboerger)
[access "refs/for/refs/*"]
	read = group user/Thomas Boerger (tboerger)
	push = group user/Thomas Boerger (tboerger)
	label-Code-Review = -2..+2 group user/Thomas Boerger (tboerger)
	label-Verified = -1..+1 group user/Thomas Boerger (tboerger)
	rebase = group user/Thomas Boerger (tboerger)
	removeReviewer = group user/Thomas Boerger (tboerger)
	submit = group user/Thomas Boerger (tboerger)
[access "refs/heads/*"]
	read = group user/Thomas Boerger (tboerger)
	create = group user/Thomas Boerger (tboerger)
	push = +force group user/Thomas Boerger (tboerger)
	pushMerge = group user/Thomas Boerger (tboerger)
[access "refs/tags/*"]
	push = +force group user/Thomas Boerger (tboerger)
	pushTag = group user/Thomas Boerger (tboerger)
	pushSignedTag = group user/Thomas Boerger (tboerger)
