<html>
  <head>Welcome to Crowbar</head>
  <body>
    Here are some handy links:
    <ul>
      <li><a href="http://localhost:3000">Crowbar UI</a></li>.
      <li><a href="http://localhost/nagios3">Nagios UI</a>. Username = nagiosadmin / Password = password</li>
      <li><a href="http://localhost/ganglia">Ganglia UI</a>. Same username/password as nagios.</li>
      <li><a href="http://localhost:4040">Chef UI</a>. Username = admin / Password = password</li>
    </ul>
  </body>
</html>
