[Unit]
Description=Execute user-provided boot script, if it exists
ConditionFileIsExecutable=/etc/init.d/suse_studio_custom

# This line is required because by default the build script checks for
# /etc/init.d/suse_studio_firstboot presence to detect the first boot. If this
# service was run after suse-studio-firstboot.service, that file would be
# deleted already.
Before=suse-studio-firstboot.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/suse_studio_custom
