proxyAddress = "0.0.0.0"        # both IPv4 and IPv6
allowedClients = 127.0.0.0/8, 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/16
cacheIsShared = false
chunkHighMark = 50331648
objectHighMark = 16384
diskCacheRoot = "/var/cache/polipo"
diskCacheTruncateTime = 720d
diskCacheUnlinkTime = 720d
maxAge = 720d
uncachableFile = /etc/polipo/uncachable
tunnelAllowedPorts = 22, 80, 109-110, 143, 443, 873, 993, 995, 1024-65535
daemonise = true
pidFile = /var/run/polipo/polipo.pid