
%input#proposal_attributes{:type => "hidden", :name => "proposal_attributes", :value => @proposal.raw_data['attributes'][@proposal.barclamp].to_json}
%p
  %label{:class => "h3", :for => "proposal_attributes"}= t('.attributes')
  = link_to t('raw'), proposal_barclamp_path(:id => @proposal.name, :controller => @proposal.barclamp, :dep_raw => @dep_raw, :attr_raw => true), :style => "float: right;"
  %div.container
    %p
      %label{ :for => :backing_type }= t('.foo')
      = select_tag :backing_type, options_for_select([['XKCD','xkcd'], ['Dilbert', 'dilbert']], @proposal.raw_data['attributes'][@proposal.barclamp]["foo"]), :onchange => "update_value('foo', 'foo', 'string')"

