[Unit]
Description=Execute the SUSE Studio first boot script, if it exists
ConditionPathExists=/etc/init.d/suse_studio_firstboot

# This line is required so that Xorg.conf hacks in the script are performed
# before X starts.
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/sh /etc/init.d/suse_studio_firstboot
