<?xml version='1.0' encoding='UTF-8'?>
<image name='Crowbar_2.0' displayname='Crowbar_2.0' schemaversion='5.2'>
  <description type='system'>
    <author>Adam Spiers</author>
    <contact>crowbar@dell.com</contact>
    <specification>Crowbar 2.0 on openSUSE 12.2</specification>
  </description>
  <preferences>
    <type checkprebuilt='true' boot='vmxboot/suse-12.2' fsnocheck='true' filesystem='ext3' bootloader='grub2' format='qcow2' kernelcmdline='quiet' image='vmx'>
      <size unit='M' additive='false'>16384</size>
    </type>
    <version>0.0.4</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-force>false</rpm-force>
    <boot-theme>studio</boot-theme>
    <timezone>Europe/Berlin</timezone>
    <hwclock>localtime</hwclock>
    <locale>en_GB</locale>
  </preferences>
  <users group='root'>
    <user name='root' pwd='$1$sFLX4BnJ$n6WbrG.LBFgIrRiGlBcvD/' home='/root' shell='/bin/bash'/>
  </users>
  <packages type='image' patternType='onlyRequired'>
    <opensusePattern name='Crowbar_Admin'/>
    <opensusePattern name='devel_C_C++'/>
    <opensusePattern name='devel_basis'/>
    <package name='xauth'/>
    <package name='yast2-qt'/>
    <package name='acpid'/>
    <package name='telnet'/>
    <package name='screen'/>
    <package name='nfs-client'/>
    <package name='yast2-network'/>
    <package name='yast2-firewall'/>
    <package name='patch'/>
    <package name='glibc-locale'/>
    <package name='wireshark'/>
    <package name='tcpdump'/>
    <package name='lsof'/>
    <package name='ltrace'/>
    <package name='less'/>
    <package name='man-pages'/>
    <package name='iotop'/>
    <package name='emacs'/>
    <package name='yast2-ncurses'/>
    <package name='yast2-country'/>
    <package name='man'/>
    <package name='curl'/>
    <package name='rubygem-bundler'/>
    <package name='gcc-c++'/>
    <package name='ruby-devel'/>
    <package name='libjson-devel'/>
    <package name='ca-certificates-mozilla'/>
    <package name='ntp'/>
    <package name='wget'/>
    <package name='aria2'/>
    <package name='strace'/>
    <package name='git'/>
    <package name='rsync'/>
    <package name='vim-data'/>
    <package name='sudo'/>
    <package name='htop'/>
    <package name='tmux'/>
    <package name='erlang'/>
    <package name='sqlite3-devel'/>
    <package name='ruby'/>
    <package name='zypper'/>
    <package name='vim'/>
    <package name='syslog-ng'/>
    <package name='rpcbind'/>
    <package name='polkit-default-privs'/>
    <package name='openssh'/>
    <package name='openSUSE-build-key'/>
    <package name='netcfg'/>
    <package name='kernel-default'/>
    <package name='iputils'/>
    <package name='hwinfo'/>
    <package name='grub'/>
    <package name='grub2'/>
<!--    <package name='branding-openSUSE'/> -->
    <package name='bootsplash'/>
    <package name='aaa_base'/>
<!--    <archive name='plymouth.tar' bootinclude='true'/> -->
  </packages>
  <packages type='bootstrap'>
    <package name='filesystem'/>
    <package name='glibc-locale'/>
  </packages>
  <repository type='yast2'>
    <source path='http://download.opensuse.org/distribution/12.2/repo/oss'/>
  </repository>
  <repository type='rpm-md'>
    <source path='http://download.opensuse.org/update/12.2'/>
  </repository>
  <repository type='rpm-md'>
    <source path='http://download.opensuse.org/repositories/systemsmanagement:crowbar:2.0/openSUSE_12.2/'/>
  </repository>
  <repository type='rpm-md'>
    <source path='http://download.opensuse.org/repositories/systemsmanagement:crowbar:2.0:staging/openSUSE_12.2/'/>
  </repository>
</image>
