
:javascript
  function update_value(path, part, type) {
    var input = document.getElementById('proposal_attributes');
    var json = JSON.parse(input.value);

    var comp = document.getElementById(part);
    var value = comp.value;

    // Do type conversions
    if (type == 'boolean') {
      value = (value == 'true' || value == 'True')
    }
    else if (type == 'integer') {
      value = parseInt(value)
    }

    // Start the path processing
    var path_parts = path.split('/');
    var data = json;
    while (path_parts.length > 1)
      data = data[path_parts.shift()];
    data[path_parts.shift()] = value;

    input.value = JSON.stringify(json); 
  }

