Source: barclamp-ganglia
Section: unknown
Priority: extra
Maintainer: Dell Openstack <openstack@dell.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://openstack.dell.com/

Package: barclamp-ganglia
Architecture: all
Depends: barclamp-crowbar
Description: Ganglia Barclamp for Crowbar
 Provides the ganglia barclamp for crowbar
