
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { "logging-server": { "unique": true, "count": 1 }, "logging-client": { "unique": true, "count": -1 } }
    node_selector($('#drag_drop'), constraints)
  });

